/* profile-details-page */

body {
    background-image: url("/img/banner5.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.profile-details-container{
    min-height: 105%;
}

.profile-detail-page{
    background-color: black;
}

.profile-detail-page .error{
    padding:10%;
    font-size: 1.5em;
    position: absolute;
    top: 160px;
    width: 100%;
    text-align: center;
    display: none;
}

.profile-details-container .card
{
    background-color:  rgba(247, 246, 244, 0.856);
    margin: auto;
}

.profile-details-container ul{
    background-color: transparent;
}

.tabs .tab a{
    color:#000;
} /*Black color to the text*/

.tabs .tab a:hover {
    background-color:rgba(136, 136, 136, 0.527);
    color:#000;
} /*Text color on hover*/

.tabs .tab a:focus, .tabs .tab a:focus.active,.tabs .tab a.active {
    background-color: transparent;
    color:#000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:rgba(43, 43, 43, 0.726);
} /*Color of underline*/


.profile-details-container h4{
    margin:5px 0;
}

.profile-details-container .profile-panel
{
    padding:2%;
}

.profile-detail-page button
{
    margin: 10px 0;
}

.profile-details-container p
{
    margin: 1% auto !important;
}

.profile-details-container #profile_pic_div
{
    border-radius: 2%;
    min-height: 150px;
    background-image: url('/img/defaultProfilePic.png');
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
}

.profile-details-container #profile_pic
{
    border-radius: 2%;
}

.profile-detail-table
{
    margin:0px;
    font-size: 0.9em;
    width: 80%;
    margin: auto;
    margin-bottom: 10%;
}

/* Rating field */

#ratingInputDiv{
    width: 100%;
    display:none;
    background-color: rgba(233, 233, 233, 0.767);
    border-radius: 2%;
    margin: 2%;
}
#ratingInput{
    width: 10%;
    margin: 0 auto;
}
#ratingSubmitText{
    font-size:0.8em;
    color:red;
}

/* Booking Form */

/* Booking List */

#BookingFormDiv {
    position: absolute;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    z-index: 3;
    top: 15%;
    left: 10%;
    padding: 3%;
    border-radius: 1%;
    display: none;
    background-color: rgba(234, 236, 236, 0.904);
    overflow: auto;
  }
  
  #bookingFormDiv .collection.with-header .collection-header,
  #bookingFormDiv .collection-item
  {
      background-color: rgba(234, 236, 236, 0.329);
  }

  .bookingFormToggle {
    margin: 1% 0 3% 0;
  }
  
  #bookingFormDiv h2 {
    margin: 1% 0 3% 0;
  }
  
  #bookingFormDiv .cross {
    font-size: 2em;
    line-height: 1%;
    padding-right: 5%;
  }
  
  #bookingFormDiv .cross:hover {
    color: rgb(159, 160, 161);
    cursor: pointer;
  }
  



